/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e0f0ff;

}

strong{
    font-weight: 900;
}

.logo img{
    height: 2.5rem;
    padding: .5rem;
}

.logo{
    padding-right: 1rem;
}

/* Header CSS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    background-color: #FFb56a;
    color: black;
    border-bottom: 2px solid black;
    box-shadow: 0px .125rem 1rem rgba(0, 0, 0, .7);
    position: relative;
    z-index:99;
}

nav{
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: .25rem;

}

nav a {
    text-decoration: none;
    position:relative;
    color: black;
    padding: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: larger;
    font-weight: 700;
}


.nav-item a:hover {
    /*text-decoration: underline;*/
    border-bottom: 3px solid #1e3f66;
    
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c4767;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.4);
    z-index: 1;
    margin-top: .6125rem;
    border-radius: .5rem;
}
.dropdown-content a{
    font-family: inherit;
    font-size: large;
    display: block;
    padding: 1rem;
    color: white;
}

.dropdown-content a:first-of-type:hover{
    background-color: white;
    color: #2c4767;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.dropdown-content a:hover{
    background-color: white;
    color: #2c4767;
}

.dropdown-content a:last-of-type:hover{
    background-color: white;
    color: #2c4767;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

/* CSS for hover-aktivert dropdown*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* mobilmeny CSS */


.mobilmeny {
    height: 30rem;
    display: none;
    width: 15rem;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 99;
    font-family: inherit;

}

.mobilmeny ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.mobilmeny ul li{
    text-align: center;
    list-style: none;
}


.mobilmeny a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: larger;
    font-weight: 700;
}

.mobilmeny a:hover {
    background-color: #2c4767;
    color: white;
}


.mobilmeny.active {
    display: flex;
}

.meny-knapp{
    display: none;
}
.meny-knapp img{
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: .5rem;
}


@media only screen and (max-width: 800px) {
    nav {
      display: none
    }
    .meny-knapp{
        display: block;
    }
    
  }


@media only screen and (max-width: 500px) {
    .mobilmeny{
        width:100%;
    }
    .mobilmeny ul li{
        text-align: right;
    }
    .mobilmeny a{
        padding-right: 2.5rem;
    }
    header{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  }


/* header CSS slutt */

/* hovedinnhold under header div-er */
main{
    background-color: #ffefe0;
}

#image-container{
    width: 100%;
    height: 30rem;
    position: relative;

}

#vannmerke{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 30rem;
    justify-content: right;
    align-items: end;
    z-index: 7;

}

#GB-logo{
    width: 17%;
    max-width: 30rem;
    min-width: 10rem;
    padding: 2rem;
    align-self: center;
    margin-top: auto;
    z-index: 8;

}


/* CSS for slideshow */
.slideshow-container {
    width: 100%;
    height: 30rem;
    position: absolute;
    border-bottom: 2px solid black;
    background-color: #303030;
    z-index: 7;
  }

  .fade {
    display: none;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade 20.1s ease-in-out infinite;
  }

  @keyframes fade {
    0%, 100% {
      opacity: .4;
    }
    3%, 98% {
      opacity: 1;
    }
  }

/*CSS for slideshow slutt*/


/*hoveddel tekst CSS*/
.bildekonteiner {
    max-width: 50rem; /* Juster denne verdien etter behov */
    margin: 0 auto;
    padding: 2rem;
  }

  .inspirasjonsbilder {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30rem; /* Juster denne verdien etter behov */
    border: solid 4px black;
    overflow: hidden;
  }

  .inspirasjonsbilder img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }


.main-text {
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .main-text {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

.main-text h1{
    font-size: xxx-large;
    text-align: center;
    padding-bottom: 1rem;
    color: #2c4767;
}

.main-text h2{
    font-size: xx-large;
    padding-bottom: 1rem;
    padding-left: 2rem;
    color: black;
}
.main-text h3{
    font-style: italic;
    font-size: x-large;
    color: #2c4767;
}
.main-text a{
    text-decoration: none;
    color: #2c4767;
}

.main-text p{
    line-height: 1.5;
    font-size: 1.25rem;
    font-family: inherit;
    color: inherit;
}

/* reisemål*/

.section-wrapper{
    padding: 2rem;
}

@media only screen and (max-width: 600px) {
 eksempel{
    display: none;
 }   
}

.tur {
    background-color: #ffefe0;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem .125rem #2c4767;
}

.tur h2{
    color: #2c4767;
    font-size: xx-large;
    text-align: center;
}

.tur h3{
    font-size: x-large;
}

.tur h4{
    font-size: larger;
}

.beskrivelse {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: larger;
}

.gallery {
    position: relative;
    overflow: hidden;
}

.galleribilde {
    display: flex;
    overflow: hidden;
    border: 4px solid black;
}

.galleribilde img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 30rem;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    border: none;
    color: white;
    padding: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    border-radius: .5rem;
}

.prev-button {
    left: 1rem;
}

.next-button {
    right: 1rem;
}

.program {
    margin-top: 2rem;
}

.program h3 {
    color: #333;
}

.day {
    margin-bottom: 2rem;
}

.day h4 {
    font-weight: bold;
    color: #333;
}

.day ul {
    list-style-type: none;
    padding: 0;
    margin-left: 1.6rem; /* 20px in rem */
}

.day li {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 0.5rem;
}
/*reisemål CSS slutt*/

/*kalender CSS*/

#kalenderoverskrift{
    padding: 2rem;
    padding-top: 4rem;
    text-align: center;
    font-size: xxx-large;
    color: #2c4767;
}

#page-container {
    max-width: 60rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  
  
  #calendar-container {
    padding: 2rem;

  }
  
  

  .calendar {
    background-color: #ffefe0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem .125rem #2c4767;
  }
  
  .month {
    padding: 1rem;
    border-bottom: 1px solid #b0b0b0;
  }
  
  .trip-item {
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
    background-color: #2c4767;
    border-radius: .5rem;
    color: white;
  }
  
  .trip-item:hover {
    background-color: white;
  }
  
  .month a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
  }

  .trip-item:hover a{
    color:#2c4767;
    display: block;
  }

/* kalender CSS slutt*/

/*kontaktskjema CSS*/

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffefe0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.5);
  }
  
  .contact-container h1 {
    text-align: center;
    color: black;
  }
  
  #contact-form {
    margin-top: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #333;
  }
  
  input,
  textarea {
    padding: .75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/*kontaktskjema CSS slutt*/

/*hoveddel tekst CSS slutt*/


/* Footer CSS */
footer {
    background-color: #2c4767;
    color: white;
    padding: 2rem;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;

}

@media only screen and (max-width: 700px) {
    footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .footer-content {
      grid-template-columns: 1fr;

    }
  }
/*.kolonne{
    
}*/
.footer-content p{
    line-height: 1.5;
}
.footer-content h3{
    margin-bottom: 0.5rem;
}
.footer-content a{
    color: inherit;
}

.copyright {
    margin-top: 6rem;
    text-align: center;
}

.nodecor{
    text-decoration: none;
    color: inherit;
}


