/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: larger;
    font-weight: 700;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #533;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1rem;
    
}
.dropdown-content a{
    font-family: inherit;
    font-size: large;
    display: inline-block;
    padding: 1rem;
    border: solid 1px white;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.main-image img {
    width: 100%;
    height: auto;
}

.welcome-text {
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;
    
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.copyright {
    margin-top: 1.5rem;
}
